<app-contact-intro></app-contact-intro>
<div class="connect_with_main_wrapper">
    <div class="header_wrapper">
        <h1>Don't Be Shy!</h1>
    </div>
    <form class="form_one" >
        <input type="text" name="sender_name" placeholder="Your first name is enough.." required autocomplete="off">
        <input type="email" name="sender_email" placeholder="Your email.." required autocomplete="off">
        <textarea name="snder_message"  cols="30" rows="10" placeholder="Your lovely message here......" required ></textarea>
        <div class="send_message_button_wrapper">
            <button>Send my awesome message</button>
        </div>
    </form>
</div>
