<footer>
    <div class="foot_wrapper">
        <div class="categ_list">
            <h1>Categories</h1>
            <li><a href="/store">Liqour</a></li>
            <li><a href="/store">Holiday Special</a></li>
            <li><a href="/store">Fast Food</a></li>
            <li><a href="/store">Spices</a></li>
            <li><a href="/store">Detergent</a></li>
            <li><a href="/store">Asbeza Package</a></li>
        </div>
        <div class="help_center">
            <h1>Help Center</h1>
            <li><a href="#">Track Order</a></li>
            <li><a href="/about-us">FAQs</a></li>
        </div>
        <div class="get_in_touch">
            <h1>Get In Touch</h1>
            <p>If you have any question about our service or <br> If there is any unclarity please <br> Let us know in the following address <br>(+251) -- -- -- -- </p>
           
            <div class="connect_method">
                <li><a href="#face_book"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#face_book"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#face_book"><i class="fa-regular fa-paper-plane"></i></a></li>
            </div>
        </div>
    </div>
    <div class="copy_right_stuff">
        <p>Copyright <span>&#169;</span> 2014 Hule All rights reserved</p>
    </div>
</footer>