<app-nav-bar></app-nav-bar>
<app-intro-back></app-intro-back>
<div class="body_wrapper">
    <h1>Our Goal</h1>
    <div class="card_wrapper">
        <div class="card">
            <div class="card_head">
                <h2>Fast Delivery</h2>
            </div>
            <div class="card_body">
                <div class="card_icon">
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
               <div class="card_content">
                <li>Yadi Yadi Yadi Yara Cool!</li>
                <li>Angular is cool!</li>
                <li>Yadi Yadi Yadi Yara Cool!</li>
               </div>
            </div>
        </div>


        <div class="card">
            <div class="card_head">
                <h2>Secure</h2>
            </div>
            <div class="card_body">
                <div class="card_icon">
                    <i class="fa-solid fa-fingerprint"></i>
                </div>
               <div class="card_content">
                <li>Yadi Yadi Yadi Yara Cool!</li>
                <li>Angular is cool!</li>
                <li>Yadi Yadi Yadi Yara Cool!</li>
               </div>
            </div>
        </div>


        <div class="card">
            <div class="card_head">
                <h2>Easy To Use</h2>
            </div>
            <div class="card_body">
                <div class="card_icon">
                    <i class="fa-solid fa-puzzle-piece"></i>
                </div>
               <div class="card_content">
                <li>Yadi Yadi Yadi Yara Cool!</li>
                <li>Angular is cool!</li>
                <li>Yadi Yadi Yadi Yara Cool!</li>
               </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

