<div class="admin_side_nav">
    <div class="side_nav_links">
        <li><a routerLink="/admin-dash"><span class="link_icon"><i class="fa-solid fa-chart-line"></i></span> <span class="hide_this">Dashboard</span></a></li>
        <li><a routerLink="/admin-create-product"><span class="link_icon"><i class="fa-solid fa-plus"></i></span>  <span class="hide_this">Add Product</span> </a></li>
        <li><a routerLink="/admin-add-blog"><span class="link_icon"><i class="fa-solid fa-blog"></i></span> <span class="hide_this">Make Blog</span>  </a></li>
        <li><a routerLink="/admin-view-msg"><span class="link_icon"><i class="fa-solid fa-inbox"></i></span>  <span class="hide_this">Message</span></a></li>
        <li><a routerLink="/admin-config"><span class="link_icon"><i class="fa-solid fa-gear"></i></span> <span class="hide_this">Setting</span> </a></li>
    </div>
</div>
