<app-cart-intro></app-cart-intro>

<div class="cart_header">
    <h1>Your Shopping Cart</h1>
</div>

<div class="cart_wrapper">
    <div class="product_wrapper">
        <div class="product_graphics">
            <img src="../../../assets/image/product/food/Demofood.jpg" alt="">
        </div>
        <div class="product_name">
            <li class="pname">Special Dish</li>
            <li class="pinclueds">Includes 1 spoon / Two Table + 1 shoe</li>
            <li class="shipping_date">Deliverd at Jun 13-09-2014</li>
        </div>
    </div>
    <div class="product_price">
        <li>${{ getSinglePrice() }}</li>
    </div>
    <div class="product_quantity">
        <li><span (click)="looseProduct()" class="loose_pro"> - </span> {{geProductCount()}} <span (click)="addProduct()" class="add_pro"> + </span></li>
    </div>
    <div class="total_product_proce">
        <li>${{ getTotalPrice() }}</li>
    </div>
</div>

<!-- loop the about div  -->

<!-- Do not touch this guy except the sub-total -->

<div class="finailize_wrapper">
    <div class="product_sub_total">
        <li>Sub-Total ${{ getTotalPrice() }}</li>
    </div>
    <div class="product_checkout">
        <button>Check Out</button>
    </div>
</div>