<div class="back">
    <div class="main">
    

        <div class="error_tag">
            <div class="not_found">
                <h1>404</h1>
            </div>
            <div class="not_found_tip">
                <div class="message_one">
                    <li>Sorry!</li>
                </div>
                <div class="message_two">
                    <li>The page you’re looking for was not found.</li>
                </div>
            </div>
        </div>
        <div class="back_link">
            <li><a href="/home">Back to home</a></li>
        </div>
        <div class="copy_right_stuff">
            Copyright Hule © 2014 All rights reserved.
        </div>
    
    </div>
</div>
