<div class="top_nav">
    <div class="first_content">
        <div class="styleish">
            <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="page_name">
            <h1><span class="page_icon"><i class="fa-solid fa-bars-staggered"></i></span> Dashboard</h1>
        </div>
    </div>
    <div class="top_nav_other_side">
        <div class="admin_info">
            <div class="admin_name">
                <h2>Some Admin</h2>
            </div>
            <div class="admin_logo">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </div>
</div>