<div class="stuff">
<app-admin-nav></app-admin-nav>
    

<div class="dashboard_wrapper">
    <div class="side_nav">
        <app-admin-side-nav></app-admin-side-nav>
    </div>

    <div class="dash_content">
        
        <div class="{{ShowDashDetail ? 'main_stuff_info' : 'main_stuff_info_hide'}}">
            <div class="info_wrapper">


                <div class="sub_menus">
                    <div class="menu_header_flex">
                        <div class="menu_header">
                            <h2>10</h2>
                        </div>
                        <div class="menu_icon">
                            <i class="fa-solid fa-users"></i>
                        </div>
                    </div>
                    <div class="menu_info">
                        <li>Total Client</li>
                    </div>
                </div>
    
    
                <div class="sub_menus1">
                    <div class="menu_header_flex1">
                        <div class="menu_header1">
                            <h2>8</h2>
                        </div>
                        <div class="menu_icon1">
                            <i class="fa-solid fa-clipboard-question"></i>
                        </div>
                    </div>
                    <div class="menu_info1">
                        <li>Total Orders Today</li>
                    </div>
                </div>
    
    
    
                <div class="sub_menus2">
                    <div class="menu_header_flex2">
                        <div class="menu_header2">
                            <h2>$236</h2>
                        </div>
                        <div class="menu_icon2">
                            <i class="fa-solid fa-coins"></i>
                        </div>
                    </div>
                    <div class="menu_info2">
                        <li>Expense Current</li>
                    </div>
                </div>
    
    
    
                <div class="sub_menus3">
                    <div class="menu_header_flex3">
                        <div class="menu_header3">
                            <h2>$346.90</h2>
                        </div>
                        <div class="menu_icon3">
                            <i class="fa-solid fa-hand-holding-dollar"></i>
                        </div>
                    </div>
                    <div class="menu_info3">
                        <li>Revenue Current</li>
                    </div>
                </div>
    
    
            </div>
    
            <!-- Request Table -->
    
            <table>
                <div class="today_order">
                    <h1>Order List</h1> 
                </div>
                <tr>
                  <th>No</th>
                  <th>ID <span class="table_head_icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span> </th>
                  <th>Date <span class="table_head_icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span> </th>
                  <th>Customer Name <span class="table_head_icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span> </th>
                  <th>Location <span class="table_head_icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span> </th>
                  <th>Amount <span class="table_head_icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span> </th>
                  <th>Status Order <span class="table_head_icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span> </th>
                  <th>Action <span class="table_head_icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span> </th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>#765234</td>
                  <td>Jan 24, 2014</td>
                  <td>Eyob Some</td>
                  <td>Ethiopia, Addis Abeba</td>
                  <td>$786</td>
                  <td>Requesting...</td>
                  <td><span (click)="ShowDashDetail = false; ShowTransactionDetail = true;"  class="proc">Process</span></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>#348764</td>
                    <td>Jun 2, 2014</td>
                    <td>Dash bath</td>
                    <td>USA, Uta</td>
                    <td>$16</td>
                    <td>Requesting...</td>
                    <td><span class="proc">Process</span></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>#2342</td>
                    <td>Oct 14, 2014</td>
                    <td>One Way</td>
                    <td>USA, DC</td>
                    <td>$190</td>
                    <td>Processed</td>
                    <td><span class="proc_done">Done</span></td>
                </tr>
    
    
              </table>
    
    
              <!-- USer List -->
    
              <table class="user_data">
                <div class="users__">
                  <h1>Registerd Users</h1> 
              </div>
                <tr>
                  <th>No</th>
                  <th>Full Name <span class="table_head_icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span> </th>
                  <th>Email <span class="table_head_icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span> </th>
                  <th>Phone <span class="table_head_icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span> </th>
                  <th>Action <span class="table_head_icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span> </th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Eyob Some</td>
                  <td>Jequanda@gmail.com</td>
                  <td>01137647</td>
                  <td><span class="user_action">Detail</span></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jhon city</td>
                    <td>Kjuut@gmail.com</td>
                    <td>09ll4547</td>
                    <td><span class="user_action">Detail</span></td>
                </tr>
    
    
              </table>
        </div>

  

          <!-- Data Processor -->
          <div class="transaction_wrapper">
            <div class=" {{ShowTransactionDetail ? 'trans_processor' : 'trans_processor_hide'}}">
                <div class="trans_header">
                    <h1> <i class="fa-solid fa-arrow-right-long"></i> Transaction Detail <i class="fa-solid fa-arrow-left"></i></h1>
                    <li>This is transaction detail you can postpond it or can take action right a way.</li>
                </div>
                <div class="trans_rec_info">
                    <div class="receiver_detail j_detail">
                        <h2>Receiver Detail</h2>
                        <li>Name <span class="rec_val"> First Line</span> </li>
                        <li>Receiver Address <span class="rec_val">  College in Virginia</span> </li>
                        <li>House Number <span class="rec_val"> 1960s</span> </li>
                        <li>Phone Number <span class="rec_val"> 1.10.32</span> </li>
                        <li>Note <span class="rec_val"> model sentence structures</span> </li>
                    </div>
                    <div class="sender_detail j_detail">
                        <h2>Sender Detail</h2>
                        <li>Name <span class="rec_val"> Eiusmod Tempor</span> </li>
                        <li>Email <span class="rec_val"> Eiusmodtempor@gmail.com</span> </li>
                        <li>Phone <span class="rec_val"> +671765523</span> </li>
                    </div>
                    <div class="transcation_expence j_detail">
                        <h2>Package Detail</h2>
                        <div class="item_list">
                            <li>Some bread</li>
                            <li>Water too</li>
                            <li>Shit</li>
                            <li>How about a car!</li>
                        </div>
                        <li>Total Item Count <span class="rec_val"> 18</span> </li>
                        <li>Total Amount <span class="rec_val money_val"> $763.23</span> </li>
                        <li>Transaction Status <span class="good_trans">Approved</span> </li>
                    </div>
                </div>
                <div class="trans_action_bar">
                    <div class="working">
                        <button>I am working on this one</button>
                    </div>
                    <div class="okay">
                        <button (click)="ShowDashDetail = true; ShowTransactionDetail = false;" >okay, Hold</button>
                    </div>
                </div>
                <div class="good_news">
                    <button>I am done with this bad boy</button>
                </div>
              </div>
          </div>

    </div>
</div>
</div>