<div class="socail_media_and_user_info">
    <div class="social_media_bar">
        <li><a href="#face"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="#insta"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#telegram"><i class="fa-regular fa-paper-plane"></i></a></li>
            <li><a href="#pinterst"><i class="fa-brands fa-pinterest-p"></i></a></li>
        </div> 
        
        <!-- This will be replaced by the signup button if the user didn't register -->
        <!-- if loged in by user name -->
        <div class="user_info_cart">
            <li><a href="#go_to_account">My Account</a></li>
            <li><a href="#go_to_cart"><i class="fa-solid fa-cart-shopping"></i><sub class="cart_item_count">0</sub></a></li>
        </div>
    </div>
<nav>
    <ul>
            <div class="campany_name"> <span class="_campany_name_bold">Gift</span> Shop </div>
            <div class="anchor_list">
                <li><a href="/home">Home</a></li>
                <!-- new_stuff_droped will be actiavted when new stuff added to the store -->
                <li><a href="#store">Store </a> <sup class="new_stuff_droped">HOT</sup> </li>
                <li><a href="#features">Features</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="#about_page">About</a></li>
                <li><a href="#contact_info">Contact</a></li>
            </div>
        </ul>
    </nav>
    
    