.intro_back 
{
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../assets/image/components/talk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 
{
    color: #F7F7F7;
    font-family: Bai_Jamjuree;
    font-size: 70px;
    text-align: center;
    padding-top: 100px;
}
p 
{
    color: #F7F7F7;
    font-family: Bai_Jamjuree;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}