<app-nav-bar></app-nav-bar>
<app-about-intro></app-about-intro>
<div class="about_us_wrapper">
    <div class="main_body_header">
        <h1>Belive Us And Your Money will never see the light of day again!</h1>
    </div>
    <!-- This page will be filled with a load of text about what the company do -->
    <div class="intro_discription">
        <h1>We Are Stupido</h1>
        <p>This is description But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>

        <h1>We steal your money</h1>
        <p>This is description But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
    
    
        <h1>We Never Deliver in Time</h1>
        <p>This is description But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
   
   
        <h1>You Should Never Trust Us!</h1>
        <p>This is description But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
  
        <h1>If Anything happend It's On You and Only You</h1>
        <p>This is description But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
  

        <h1>You May Go Broke But We don't Care</h1>
        <p>This is description But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
  
        <h1>We sell your private data to public and there is nothing you can do about it!</h1>
        <p>This is description But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
  
    </div>

    <div class="faq_main">
       <div class="faq_head">
        <h2>FAQs</h2>
       </div>

       <div class="faq_body">
        <h1>Q: Do I need to Pay to make Transcation!</h1>
        <p>A: What? Is this a question WTF man, (NO WE JUST TAKE ORDER FROM BOT TOO)! stupid!!</p>


        <h1>Q: What if I lost my password</h1>
        <p>A: Ooh that is  easy all you have to do is just pay about $1.2 milion dollar then we gonne reset your password! We never asked you to register did we you bitch!</p>


        <h1>Q: Do I need pay to register</h1>
        <p>A: What did you think bra!</p>

        <h1>Q: What If the reciver complain didn't recive the product</h1>
        <p>A: That means we f****d you over we needed the money for other purpose, Your money is Gone, Your hope is Gone just make another order, and the only thing you can do is pray It won't happed again!</p>

        <h1>Q: How Long It Take Until the Comfirmation Email</h1>
        <p>A: Pretty soon Just before your grand child turn into ashes!</p>

        <h1>Q: For How Long the Help Center is Open</h1>
        <p>A: Never Ever! We Just Say 24/7 to trick you and take your money</p>

        <h1>Q: Do You Take Cash</h1>
        <p>A: No! We Just Take your soul!</p>

       </div>


    </div>
</div>
<app-footer></app-footer>
