<div class="master_login_Page_wrapper">
    <div class="form_wrapper">
        <form #data="ngForm" class="fm" (ngSubmit)="onSubmit(data)"  method="post">
            <div class="user_name_wrapper">
                <span class="icons"><i class="fa-solid fa-user"></i></span>
                <input class="{{isUserNameProvided ? '' : 'boxWarrning'}}" type="text" name="user_name" id="user_name" autocomplete="off" placeholder="Username" ngModel><span class="{{isUserNameProvided ? 'fillWarrning' : 'fillWarrning_show'}}"><i class="fa-solid fa-triangle-exclamation"></i></span>
            </div>
            <div class="user_password_wrapper">
                <span class="icons"><i class="fa-solid fa-lock"></i></span>
                <input class="{{isPasswordProvided ? '' : 'boxWarrning'}}" type="password" name="password" id="user_key" autocomplete="off" placeholder="Password" ngModel><span class="{{isPasswordProvided ? 'fillWarrning' : 'fillWarrning_show'}}"><i class="fa-solid fa-triangle-exclamation"></i></span>
            </div>
            <div class="button_wrapper">
                <button type="submit">Sign in</button>
            </div>
            <div class="prep_for_signup">
                <span class="info">Not a member? </span><a routerLink="/signup">Sign up now</a>
                
                <br><br>
                <a  class="info" routerLink="/home">I'm here for the demo!</a>
                
            </div>
        </form>
    </div>
</div>