.master_login_Page_wrapper 
{
    background-color: #2c3338;
    height: 900px;
}
.form_wrapper 
{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    padding: 50px;
}
.fm 
{
    margin-top: 250px;
}
.user_name_wrapper, .user_password_wrapper 
{
    padding: 7px;
}
.icons 
{
    border: 1px solid #363b41;
    padding: 15px;
    color: #606468;
    background: #363b41;
}
input 
{
    width: 200px;
    padding: 15px;
    padding-top: 16px;
    border: 1px solid #3b4148;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #3b4148;
    color: #F7F7F7;
    font-family: Bai_Jamjuree;
    outline: none;
    transition: 200ms ease-in-out;
}
input:hover 
{
    background: #474d55;
}
.button_wrapper 
{
    padding: 10px;
}
.button_wrapper button 
{
    padding: 13px;
    width: 280px;
    background: #36AE7C;
    border: 1px solid #36AE7C;
    font-family: Bai_Jamjuree;
    text-transform: uppercase;
    color: #F7F7F7;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 200ms ease-in-out;
}
.button_wrapper button:hover 
{
    background: #2a8660;
    border-color: #2a8660;
}
.prep_for_signup 
{
    padding: 10px;
}
.prep_for_signup .info 
{
    color: #606468;
    font-family: Bai_Jamjuree;
    font-size: 14px;
}
.prep_for_signup a 
{
    color: #F7F7F7;
    font-size: 15px;
    padding-left: 10px;
    font-family: Bai_Jamjuree;
    text-decoration: none;
    transition: 200ms ease-in-out;
}
.prep_for_signup a:hover 
{
    text-decoration: underline;
}