/* You can add global styles to this file, and also import other style files */
* 
{
    margin: 0;
    padding: 0; 
    /* temp color */
}
@font-face {
    font-family: Bai_Jamjuree;
    src: url('./assets/font/Bai_Jamjuree/BaiJamjuree-Regular.ttf');
}
:root {
    --box-color: #ffffff;
}
body 
{
     /*use somekind of var to toggel b/n dark and light */
     background-color: #f3f4f7;
}