<h1>The Blog</h1>
<h2>LATEST NEWS</h2>

<div class="blogs_list_wrapper">
    <div class="single_blog_card">
        <div class="blog_graphics">
        </div>
        <div class="blog_title">
            <h3>Great Project</h3>
        </div>
        <div class="bloger_rele_date">
            <span>18 June 2018 / <span class="bloger_type">Super User</span></span>
        </div>
        <div class="blog_snippest">
            <p>
                Complex Sentence Generator is a free content rewriter that can potentially rephrase, reword, paraphrase and/or rewrite sentences, paragraphs, articles, content, words and/or phrases into a more complex, unorthodox or convoluted alternative while delivering the same meaning.
            </p>
        </div>

        <div class="blog_read_more_button">
            <button>Read More</button>
        </div>
        <div class="blog_hidden_card_with_blog_content">

        </div>
    </div>


    <div class="single_blog_card">
        <div class="blog_graphics">
        </div>
        <div class="blog_title">
            <h3>Great Project</h3>
        </div>
        <div class="bloger_rele_date">
            <span>18 June 2018 / <span class="bloger_type">Super User</span></span>
        </div>
        <div class="blog_snippest">
            <p>
                Complex Sentence Generator is a free content rewriter that can potentially rephrase, reword, paraphrase and/or rewrite sentences, paragraphs, articles, content, words and/or phrases into a more complex, unorthodox or convoluted alternative while delivering the same meaning.
            </p>
        </div>

        <div class="blog_read_more_button">
            <button>Read More</button>
        </div>
        <div class="blog_hidden_card_with_blog_content">

        </div>
    </div>


    <div class="single_blog_card">
        <div class="blog_graphics">
        </div>
        <div class="blog_title">
            <h3>Great Project</h3>
        </div>
        <div class="bloger_rele_date">
            <span>18 June 2018 / <span class="bloger_type">Super User</span></span>
        </div>
        <div class="blog_snippest">
            <p>
                Complex Sentence Generator is a free content rewriter that can potentially rephrase, reword, paraphrase and/or rewrite sentences, paragraphs, articles, content, words and/or phrases into a more complex, unorthodox or convoluted alternative while delivering the same meaning.
            </p>
        </div>

        <div class="blog_read_more_button">
            <button>Read More</button>
        </div>
        <div class="blog_hidden_card_with_blog_content">

        </div>
    </div>

    <div class="single_blog_card">
        <div class="blog_graphics">
        </div>
        <div class="blog_title">
            <h3>Great Project</h3>
        </div>
        <div class="bloger_rele_date">
            <span>18 June 2018 / <span class="bloger_type">Super User</span></span>
        </div>
        <div class="blog_snippest">
            <p>
                Complex Sentence Generator is a free content rewriter that can potentially rephrase, reword, paraphrase and/or rewrite sentences, paragraphs, articles, content, words and/or phrases into a more complex, unorthodox or convoluted alternative while delivering the same meaning.
            </p>
        </div>

        <div class="blog_read_more_button">
            <button>Read More</button>
        </div>
        <div class="blog_hidden_card_with_blog_content">

        </div>
    </div>
</div>
